@import url('./buttons.css');

:root{
    --violet: #6100FF;
    --tech: #0B0033;
    --orange: #FF7000;
    --caribe70: hsla(183, 75%, 44%, 0.7);
    --white80: hsla(0, 0%, 100%, 0.8);
}

header {
    background: var(--violet);
    height: 100.92px;
    display: flex;
    justify-content: space-between; 
    overflow: hidden;
    align-items: center;
    padding: 0 54.5px;
}
h2 {
    font-size: 28px;
    font-weight:900;
    color: white;
    text-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
}   

body {
   font-family: 'Urbanist', sans-serif;
   text-align: center;   
   margin:0;      
}

.bannermodulo{
    display: flex;
    justify-content:start;
    align-items: center;
    width: 1125px;
    height: 368px;
    margin: auto;
    margin-top: 94.08px; 
}
.bienvenida{
    background: var(--tech);
    width: 970px;
    height: 214px;
    border-radius: 82px;
    color: white;
    position: relative;
    padding: 0px 100px 0px 50px;
    z-index: 1;
    left: 70px; 
}
#logo {
    position: relative;
    z-index: 2; 
    right: 70px;   
}
h3{
    font-size: 24px;
    font-weight: 900;
    width: 763px;
    height: 29px;
    line-height: 28.8px;
    padding-top: 35.5px;
}  
.bienvenida p{
   font-weight: 400;      
}
.tarjetasmodulo{
    display: flex;
    justify-content: space-around;  
    height: 750px;
    margin:auto; 
    margin: 32px 55px 163px 55px;
}
.tarjeta-buscar{
    background:var(--violet);
    width: 432px;
    height: 750px;
    border-radius: 30px;
    color: white;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
}
.tarjeta-guardar{
    margin: 0px 16px;
    background:var(--violet);
    width: 432px;
    height: 750px;
    border-radius: 30px;
    color: white;  
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
}
.tarjeta-analizar{
    background:var(--violet);
    width: 432px;
    height: 750px;
    border-radius: 30px;
    color: white;  
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25); 
}
h1{
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    margin-top: 14px;
    margin-bottom: 0px;
}
.tarjetasmodulo p{
    font-size: 24px;
    font-size: 700;
    line-height: 29.05px;
    margin: 14px 50px;
}
.image-tarjet{
    margin-top: 93.5px ;
}



